body {
    font-family: Helvetica, Arial, sans-serif; 
    color: #111;
}

p {
    font-size: 1.5rem;
}

a {
    font-size: 1.5rem;
}

.bold {
    font-weight: bold;
}

.date {
    font-size: 1rem;
    color: grey;
}